<div class="card mt-3">
    <div class="card-header">
        <h3>
            <% let idTag = ''; %>
            <% if (entry.hasOwnProperty('ItemID'))  { %>
                <% idTag = 'data-ItemID="'+entry.ItemID+'"';%>
            <% } else if (entry.hasOwnProperty('PartID')) { %>
                <% idTag = 'data-PartID="'+entry.PartID+'"'; %>
            <% } %>
            

            <input type="checkbox" name="ids" <%- idTag %>> <%- entry.Title %>
        </h3>
    </div>
    <div class="card-body">
        <p class="card-text">
           <% for (var prop in entry) { %>
            <%  if (Object.prototype.hasOwnProperty.call(entry, prop)) { %>

                <% if (typeof entry[prop] === 'String') { %>
                    <% displayStr = entry[prop]; %>
                <% } else { %> 
                    <% displayStr = JSON.stringify (entry[prop]); %>
                <% } %>
                    <div class="line"><%- prop %>: <%- displayStr %>  %></div>
                    <%  } %>
                    <% } %>
        </p>
    </div>
</div>