<form action="/" method="POST" class="form-inline">
    <div class="input-group mb-3">
        <input type="text" name="search" class="form-control" placeholder="Search" aria-label="Search keywords" aria-describedby="searchbutton">
        <input class="btn btn-primary" type="submit" id="searchbutton">
      </div>
</form>